$color-main: #fdd;
$color-textbase: #333;
$color-accent: #B87575;

$google-font-noto_sans: 'Noto Sans JP', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$google-font-Ubuntu: 'Ubuntu';

$border-radius: 5px;

$height-header: 40px;

$width-wrap: 1000px;